openapi: 3.2.0
info:
  title: TwinStrand Biosciences Content API (WordPress REST wp/v2) Search API
  version: wp/v2
  summary: The anonymously readable content API behind twinstrandbio.com.
  description: 'DERIVED BY API EVANGELIST - NOT PUBLISHED BY TWINSTRAND BIOSCIENCES.


    TwinStrand Biosciences publishes no product or developer API. This document was derived mechanically from the live WordPress REST route-discovery document at https://twinstrandbio.com/wp-json/ (349 routes across 18 namespaces, retrieved 2026-08-05), and covers only the subset that is anonymously readable and carries company content: publications, patents, posters, news, events, team members, pages, media, taxonomies and site search.


    Every path, parameter, default and bound below is taken verbatim from that discovery document. Write methods (POST/PUT/PATCH/DELETE) are registered on most of these routes but require authentication and are deliberately omitted - this profile documents the public read surface only.


    The TwinStrand DuplexSeq analysis pipeline runs as cloud software hosted on the DNAnexus platform and is reachable only by customers with a DNAnexus project; it is not part of this contract.'
  contact:
    name: TwinStrand Biosciences
    url: https://twinstrandbio.com/
  license:
    name: Content (c) TwinStrand Biosciences, Inc. - all rights reserved
    url: https://twinstrandbio.com/legal/
  x-provenance:
    generated: '2026-08-05'
    method: derived
    source: https://twinstrandbio.com/wp-json/
    derived_by: API Evangelist enrichment pipeline (local-v1)
    note: TwinStrand publishes no OpenAPI. Nothing here was invented; the route document is saved verbatim at openapi/_source/twinstrand-biosciences-wp-json-root.json.
servers:
- url: https://twinstrandbio.com/wp-json
  description: Production
tags:
- name: Search
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Site-wide search
      description: Site-wide search across post types, returning id / title / url / type / subtype.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - e-floating-buttons
            - elementor_library
            - event
            - news
            - patent
            - poster
            - publication
            - team-member
            - category
            - post_tag
            - publication-category
            - publication-year
            - any
            type: string
        description: Limit results to items of one or more object subtypes.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 Link header carrying rel="next" / rel="prev".
              schema:
                type: string
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: 'Resource or route not found. NOTE: on twinstrandbio.com an unknown id or route is intercepted at the edge and answered with an HTML 404 page (text/html), not the WordPress rest_no_route JSON envelope - verified 2026-08-05 on GET /wp/v2/publication/999999 and GET /wp/v2/nope.'
      content:
        text/html:
          schema:
            type: string
    Forbidden:
      description: Authentication required for this context or route.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_forbidden
            message: Sorry, you are not allowed to do that.
            data:
              status: 401
    InvalidParam:
      description: 'Invalid query parameter (observed: per_page above the 100 bound).'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_invalid_param
            message: 'Invalid parameter(s): per_page'
            data:
              status: 400
              params:
                per_page: per_page must be between 1 (inclusive) and 100 (inclusive)
  schemas:
    Resource:
      type: object
      description: A WordPress REST resource. The exact field set varies by post type; the fields below are those observed on anonymous GETs.
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          type: object
          properties:
            rendered:
              type: string
        content:
          type: object
          properties:
            rendered:
              type: string
            protected:
              type: boolean
        excerpt:
          type: object
          properties:
            rendered:
              type: string
            protected:
              type: boolean
        featured_media:
          type: integer
        meta:
          type: object
        acf:
          type:
          - object
          - array
          description: Advanced Custom Fields payload; observed empty on the sampled publication resource.
        _links:
          type: object
          description: HAL-style link relations (self, collection, about, wp:featuredmedia, wp:term, curies).
    Error:
      type: object
      description: The WordPress REST error envelope. This is NOT RFC 9457 application/problem+json.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          examples:
          - rest_invalid_param
          - rest_forbidden
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic, advertised in the discovery document at authentication.application-passwords.endpoints.authorization = https://twinstrandbio.com/wp-admin/authorize-application.php. Required only for write operations and privileged reads; every operation in this document is anonymously readable.
